<h3 class="mt-3">Bug list</h3>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let b of bugs">
      <div class="row">
        <div class="col-3"><span class="badge badge-primary">{{b.idBug}}</span></div>
        <div class="col-3">{{b.titre}} </div>
        <div class="col-3" *ngIf="b.developpeur">{{b.developpeur.nom}} </div>
        <img src="{{b.developpeur.avatar}}" width="50" height="50" style="border-radius: 100px;" *ngIf="b.developpeur">
        <div class="col-3 d-flex justify-content-end">
        </div>
      </div>
    </li>
  </ul>
